<div class="container">
    <mat-card>
        <mat-card-title >
            Template Driven Form
        </mat-card-title>
        <mat-card-content>
            Template-driven forms use two-way data binding to update the data model in the component as changes are made in the template and vice versa.
            <strong>FormsModule</strong>
            This import is required to provider and directive for the Template driven form
            <strong>ngForm</strong>
             this Directive is what makes the Angular template-driven forms work.
             ngForm directive automatically detects the form tag and automatically binds to it
             .Binds itself to the form directive
              .Creates a top-level FormGroup instance
        </mat-card-content>
        <button mat-raised-button color="primary" routerLink="/eg-tdf">Take Demo</button>
    </mat-card>
    <div>
        <app-example-template-driven-form></app-example-template-driven-form>
    </div>

</div>




